<div class="pb-10 overflow-hidden">
  <section
    class="w-full h-[430px] min-[1400px]:h-[550px] relative flex items-center overflow-hidden justify-center"
  >
    <div
      class="flex flex-col items-center justify-center text-center text-white px-[40px] relative z-[12]"
    >
      <h1
        class="font-playfair text-[35px] mobile:text-[60px] mb-6 font-semibold leading-tight"
      >
        Unleash the Hero Within!
      </h1>

      <p class="text-sm mobile:text-xl leading-[16px]">
        Discover Action Figures, Plush Toys, Remote-Controlled Cars, and More
        for Every Adventure.
      </p>
    </div>
    <div
      class="absolute h-full w-full left-0 top-0 bg-black bg-opacity-35 z-[11]"
    ></div>
    <div class="absolute left-0 top-0 w-full h-full">
      <video
        autoplay
        loop
        [muted]="true"
        playsinline
        [src]="videoUrl"
        [poster]="thumbnailUrl"
        class="w-full h-full object-cover blur-sm"
      >
        Your browser does not support the video tag.
      </video>
    </div>
  </section>

  <div
    class="flex items-start min-[760px]:space-x-10 w-[90%] min-[760px]:w-[85%] max-w-[1200px] mx-auto mt-[50px]"
  >
    <div
      class="hidden min-[760px]:block w-[30%] min-w-[200px] max-w-[210px] space-y-6"
    >
      <!--      <div>-->
      <!--        <app-featured-product />-->
      <!--      </div>-->
      <div>
        <app-categories />
      </div>
      <div>
        <app-filters />
      </div>
    </div>

    <div class="w-full min-[760px]:w-[70%] grow">
      <app-product-nav />
      <div class="mt-5 w-full">
        <app-products-showcase />
      </div>
    </div>
  </div>
</div>
